/**
 * Rofi Configuration
 * Rofi Version: 1.7.3
 **/

configuration {
    modi:                   "drun,run,window";
    case-sensitive:         false;
    cycle:                  true;
    normalize-match:        true;
    show-icons:             true;
    icon-theme:             "Papirus";
    steal-focus:            false;

    matching:               "normal";
    tokenize:               true;

    drun-match-fields:      "name,generic,exec,categories,keywords";
    drun-display-format:    "{name}";
    drun-show-actions:      false;
    drun-url-launcher:      "xdg-open";

    disable-history:        false;
    sorting-method:         "normal";
    max-history-size:       25;

    click-to-exit:          true;
    threads:                0;

    timeout {
        action: "kb-cancel";
        delay:  0;
    }
}
